<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555552934459-f155g4jlljsn1d75d68db5a26for3vjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555552934459-f155g4jlljsn1d75d68db5a26for3vjk</string>
	<key>API_KEY</key>
	<string>AIzaSyDv19EU_60LKoOpwYAzDQAaMHoqtBjCcto</string>
	<key>GCM_SENDER_ID</key>
	<string>555552934459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieBookingApp</string>
	<key>PROJECT_ID</key>
	<string>movie-booking-app-625cf</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-booking-app-625cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555552934459:ios:f33a108b56fd981477ea1e</string>
</dict>
</plist>